<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{id}} news</title>
</head>
<body>
    
    
        {% for item in articles %}
       
        <li><div style="border:none rgb(221, 147, 74);">
            <div style="border:none rgb(209, 221, 202); background-color: rgb(237, 236, 242); color: rgb(28, 18, 218); font-size: x-large;">
                {{item.title}}
            </div>
            <div style="border:none rgb(209, 221, 202); background-color: rgba(173, 235, 101, 0.57); "><br>
                {{item.name}}
                "{{item.url}}"
                
            
            </div>
        {% endfor %}
</body>
</html>