<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
</head>
<body>
    <div>
        <!-- section that displays news channels -->
    <h3>News channels</h3>
    <ul>
        {% for item in sources %}
        {% if item.language=='en' %}
        <li><div style="border:none rgb(221, 147, 74);">
            <div style="border:none rgb(209, 221, 202); background-color: rgb(237, 236, 242); color: rgb(218, 18, 18); font-size: x-large;">
                {{item.name}}
            </div>
            <div style="border:none rgb(209, 221, 202); background-color: rgba(173, 235, 101, 0.57); "><br>
                {{item.description}}
            
            </div>
        </div><br>
          
             <br> </li>
             {% endif %}
        {% endfor %}

    </ul>
    </div>
    <div>
        {{item}}
    </div>
</body>
</html>