<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News-finder-express</title>
</head>
<body>
    <div style="margin: 40px;">
        <!-- section that displays news channels -->
    <h1>Top International News channels </h1>
    
  
    <ul>
        {% for item in sources %}
        {% if item.language=='en' %}
           
          <a href="/news/{{item.id}}"> <div style="border:none rgb(209, 221, 202);  color: rgb(28, 18, 218); font-size: x-large;">
            {{item.name}}
            {{item.id}}
        </div>
        <div style="border:none rgb(209, 221, 202); background-color: rgba(132, 233, 16, 0.57);margin-right: 20px;"><br>
             <div style="margin-left: 10px;">{{item.description}}</div> 
            <br>
            
        
        </div></a><br>
             <br> </li>
             {% endif %}
        {% endfor %}

    </ul>
    </div>
    <div>
    
    </div>
</body>
</html>